<app-header></app-header>
<form [formGroup]="createcityform" (ngSubmit)="createcity()" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>City Name</mat-label>
        <input matInput formControlName="CityName" placeholder="Enter City" value="">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>State Id</mat-label>
        <mat-select formControlName="StateId" name="stateId" >
            <mat-option *ngFor="let option of dataa" [value]="option.stateId">{{ option.stateName }}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Country Id</mat-label>
        <mat-select formControlName="CountryId" name="countryId">
            <mat-option  *ngFor="let option of data" [value]="option.countryId">{{ option.countryName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="example-button-row">
        <button type="submit" mat-raised-button color="primary">Primary</button>
    </div>
</form>