<app-header></app-header>
<button mat-raised-button color="primary mt-6 p-3" (click)="addgrade()">Add Grade</button>
<table class="min-w-full mt-4 divide-y divide-gray-200">
  <thead>
    <tr>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Grade ID</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Student ID</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Course ID</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Grade</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grade of datas">
      <td class="px-6 py-4 whitespace-nowrap">{{ grade.gradeID }}</td>
      <td class="px-6 py-4 whitespace-nowrap">{{ grade.studentID }}</td>
      <td class="px-6 py-4 whitespace-nowrap">{{ grade.courseID }}</td>
      <td class="px-6 py-4 whitespace-nowrap">{{ grade.grade }}</td>
      <td class="px-6 py-4 whitespace-nowrap">
        <button
          class="px-4 py-2 font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue active:bg-blue-600 transition duration-150 ease-in-out"
          (click)="editgrade( grade.gradeID )"
          >
          Edit
        </button>
        <button
          class="ml-2 px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out"
          (click)="deletegrade( grade.gradeID )"
          >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>